main_ui.json
[{"id":"209d2864.dddf6","type":"tab","label":"Main View","disabled":false,"info":""},{"id":"f9fff5b7.b88f9","type":"tab","label":"Relays","disabled":false,"info":""},{"id":"2d636f07.e0a608","type":"mqtt-broker","z":"","name":"Venus","broker":"192.168.1.10","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"10","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"b924b18a.16338","type":"ui_tab","z":"","name":"Solar Status","icon":"home","disabled":false,"hidden":false},{"id":"636d155b.29ef6c","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#929292","baseFont":"Verdana,Verdana,Geneva,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Test 1","default":"#4B7930","baseColor":"#cbf1ff","baseFont":"Verdana,Verdana,Geneva,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#cbf1ff","edited":true},"page-titlebar-backgroundColor":{"value":"#000000","edited":true},"page-backgroundColor":{"value":"#c1c1c1","edited":true},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#ffffff","edited":false},"group-borderColor":{"value":"#000000","edited":true},"group-backgroundColor":{"value":"#000000","edited":true},"widget-textColor":{"value":"#ffffff","edited":true},"widget-backgroundColor":{"value":"#5f5f5f","edited":true},"widget-borderColor":{"value":"#000000","edited":true},"base-font":{"value":"Verdana,Verdana,Geneva,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Solar System","hideToolbar":"false","allowSwipe":"true","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b40936b8.896f08","type":"ui_group","z":"","name":"Solar Status","tab":"b924b18a.16338","disp":false,"width":"18","collapse":false},{"id":"5742199.44e7fe8","type":"ui_group","z":"","name":"Relays","tab":"cca0597e.d4ed78","disp":true,"width":5,"collapse":false},{"id":"cca0597e.d4ed78","type":"ui_tab","z":"","name":"Configuration","icon":"build","order":2,"disabled":false,"hidden":false},{"id":"81fcd79b.de80a8","type":"ui_tab","z":"","name":"LAB","icon":"dashboard"},{"id":"a6994ae2.b5361","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"2749e51a.891aaa","type":"ui_spacer","name":"spacer","group":"b40936b8.896f08","order":9,"width":6,"height":1},{"id":"f90225cf.af00e8","type":"mqtt-broker","z":"","name":"EMON MQTT","broker":"10.64.16.10","port":"1883","clientid":"nodered-hass","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6fc5374c.fd8958","type":"mqtt out","z":"209d2864.dddf6","name":"keep-alive","topic":"R/4c3fd33ebfdd/system/0/Serial","qos":"","retain":"","broker":"2d636f07.e0a608","x":350,"y":40,"wires":[]},{"id":"834e04d6.910f3","type":"inject","z":"209d2864.dddf6","name":"keep-alive","topic":"","payload":"R/4c3fd33ebfdd/system/0/Serial","payloadType":"str","repeat":"30","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":40,"wires":[["6fc5374c.fd8958"]]},{"id":"19af15ea.1fca0a","type":"mqtt in","z":"209d2864.dddf6","name":"NE Array Yield","topic":"N/4c3fd33ebfdd/solarcharger/258/Yield/Power","qos":"0","datatype":"auto","broker":"2d636f07.e0a608","x":90,"y":100,"wires":[["921318c5.3cfe7"]]},{"id":"921318c5.3cfe7","type":"delay","z":"209d2864.dddf6","name":"Rate Limit","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":260,"y":100,"wires":[["d3efe299.6ab3a"]]},{"id":"6bcb4563.b82f74","type":"mqtt in","z":"209d2864.dddf6","name":"NW Array Yield","topic":"N/4c3fd33ebfdd/solarcharger/260/Yield/Power","qos":"0","datatype":"auto","broker":"2d636f07.e0a608","x":100,"y":160,"wires":[["66d11972.1e1d98"]]},{"id":"66d11972.1e1d98","type":"delay","z":"209d2864.dddf6","name":"Rate Limit","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":260,"y":160,"wires":[["2295fba9.7da8a4"]]},{"id":"2c30a6df.1e8672","type":"ui_gauge","z":"209d2864.dddf6","name":"PV Array","group":"b40936b8.896f08","order":1,"width":6,"height":4,"gtype":"gage","title":"PV Array","label":"Watts","format":"{{value | number:0}}","min":0,"max":"4500","colors":["#ff9300","#fffc00","#00fa00"],"seg1":"500","seg2":"1000","x":1060,"y":120,"wires":[]},{"id":"d55c69df.9b7ef","type":"mqtt in","z":"209d2864.dddf6","name":"Grid","topic":"N/4c3fd33ebfdd/system/0/Ac/Grid/L1/Power","qos":"0","datatype":"utf8","broker":"2d636f07.e0a608","x":80,"y":220,"wires":[["3c290556.79fb3a"]]},{"id":"6d46c8c4.e0e5e","type":"mqtt in","z":"209d2864.dddf6","name":"AC Loads","topic":"N/4c3fd33ebfdd/system/0/Ac/ConsumptionOnInput/L1/Power","qos":"0","datatype":"auto","broker":"2d636f07.e0a608","x":90,"y":280,"wires":[["8c3d58c4.223798"]]},{"id":"4e4ed80a.dab3","type":"mqtt in","z":"209d2864.dddf6","name":"Critical Loads","topic":"N/4c3fd33ebfdd/system/0/Ac/ConsumptionOnOutput/L1/Power","qos":"0","datatype":"auto","broker":"2d636f07.e0a608","x":100,"y":340,"wires":[["92c72bcd.7cfe68"]]},{"id":"3c290556.79fb3a","type":"delay","z":"209d2864.dddf6","name":"Rate Limit","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":260,"y":220,"wires":[["3b091ff1.260428"]]},{"id":"8c3d58c4.223798","type":"delay","z":"209d2864.dddf6","name":"Rate Limit","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":260,"y":280,"wires":[["61b1b0cf.435fa8"]]},{"id":"92c72bcd.7cfe68","type":"delay","z":"209d2864.dddf6","name":"Rate Limit","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":260,"y":340,"wires":[["37711e99.06f03a"]]},{"id":"a02a1b78.48086","type":"ui_gauge","z":"209d2864.dddf6","name":"Grid Usage","group":"b40936b8.896f08","order":4,"width":6,"height":4,"gtype":"gage","title":"Pulling From Grid","label":"Watts","format":"{{value | number:0}}","min":0,"max":"8000","colors":["#00fa00","#ff9300","#ff2600"],"seg1":"1000","seg2":"2500","x":770,"y":220,"wires":[]},{"id":"e6267573.ee56c","type":"ui_gauge","z":"209d2864.dddf6","name":"AC Loads","group":"b40936b8.896f08","order":5,"width":6,"height":4,"gtype":"gage","title":"AC Loads","label":"Watts","format":"{{value | number:0}}","min":0,"max":"8000","colors":["#00fa00","#ff9300","#ff2600"],"seg1":"1000","seg2":"2500","x":760,"y":280,"wires":[]},{"id":"8575e06c.0f2f18","type":"ui_gauge","z":"209d2864.dddf6","name":"Critical Loads","group":"b40936b8.896f08","order":6,"width":6,"height":4,"gtype":"gage","title":"Critical Loads","label":"Watts","format":"{{value | number:0}}","min":0,"max":"6000","colors":["#00fa00","#ff9300","#ff2600"],"seg1":"500","seg2":"1000","x":780,"y":340,"wires":[]},{"id":"2f8b193e.8feb56","type":"change","z":"209d2864.dddf6","name":"Extract","rules":[{"t":"move","p":"payload.value","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":220,"wires":[["a02a1b78.48086"]]},{"id":"3b091ff1.260428","type":"json","z":"209d2864.dddf6","name":"Convert","property":"payload","action":"obj","pretty":false,"x":420,"y":220,"wires":[["2f8b193e.8feb56"]]},{"id":"37711e99.06f03a","type":"json","z":"209d2864.dddf6","name":"Convert","property":"payload","action":"obj","pretty":false,"x":420,"y":340,"wires":[["2bde8189.22ceee"]]},{"id":"2bde8189.22ceee","type":"change","z":"209d2864.dddf6","name":"Extract","rules":[{"t":"move","p":"payload.value","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":340,"wires":[["8575e06c.0f2f18"]]},{"id":"61b1b0cf.435fa8","type":"json","z":"209d2864.dddf6","name":"Convert","property":"payload","action":"obj","pretty":false,"x":420,"y":280,"wires":[["3ed850ed.478738"]]},{"id":"3ed850ed.478738","type":"change","z":"209d2864.dddf6","name":"Extract","rules":[{"t":"move","p":"payload.value","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":280,"wires":[["e6267573.ee56c"]]},{"id":"f738756f.8ce08","type":"mqtt out","z":"f9fff5b7.b88f9","name":"Write Relay State","topic":"W/4c3fd33ebfdd/system/0/Relay/0/State","qos":"1","retain":"false","broker":"2d636f07.e0a608","x":650,"y":60,"wires":[]},{"id":"4656a3c1.2455c4","type":"ui_switch","z":"f9fff5b7.b88f9","name":"","label":"Venus Relay No. 1","tooltip":"","group":"5742199.44e7fe8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"value\": 1}","onvalueType":"str","onicon":"power_settings_new","oncolor":"lime","offvalue":"{\"value\": 0}","offvalueType":"str","officon":"power_settings_new","offcolor":"white","x":390,"y":60,"wires":[["f738756f.8ce08"]]},{"id":"c2fb8240.d820d8","type":"mqtt in","z":"209d2864.dddf6","name":"SoC","topic":"N/4c3fd33ebfdd/battery/512/Soc","qos":"0","datatype":"auto","broker":"2d636f07.e0a608","x":90,"y":400,"wires":[["ee34fb0f.448c88"]]},{"id":"ee34fb0f.448c88","type":"delay","z":"209d2864.dddf6","name":"Rate Limit","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":260,"y":400,"wires":[["b6ae5c40.9eabd8"]]},{"id":"b6ae5c40.9eabd8","type":"json","z":"209d2864.dddf6","name":"Convert","property":"payload","action":"obj","pretty":false,"x":420,"y":400,"wires":[["27301370.f9a41c"]]},{"id":"27301370.f9a41c","type":"change","z":"209d2864.dddf6","name":"Extract","rules":[{"t":"move","p":"payload.value","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":400,"wires":[["3f530428.714e6c"]]},{"id":"3f530428.714e6c","type":"ui_gauge","z":"209d2864.dddf6","name":"","group":"b40936b8.896f08","order":3,"width":6,"height":4,"gtype":"donut","title":"State Of Charge","label":"","format":"{{value}}%","min":0,"max":"100","colors":["#ff2600","#e6e600","#00fa00"],"seg1":"20","seg2":"75","x":780,"y":400,"wires":[]},{"id":"eea3b667.60d958","type":"mqtt in","z":"f9fff5b7.b88f9","name":"Get Relay State","topic":"N/4c3fd33ebfdd/system/0/Relay/0/State","qos":"0","datatype":"auto","broker":"2d636f07.e0a608","x":120,"y":60,"wires":[["4656a3c1.2455c4"]]},{"id":"9450aa28.7f9ad8","type":"mqtt out","z":"f9fff5b7.b88f9","name":"Write Relay State","topic":"W/4c3fd33ebfdd/system/0/Relay/1/State","qos":"1","retain":"false","broker":"2d636f07.e0a608","x":650,"y":140,"wires":[]},{"id":"8326c002.688148","type":"ui_switch","z":"f9fff5b7.b88f9","name":"","label":"Venus Relay No. 2","tooltip":"","group":"5742199.44e7fe8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"value\": 1}","onvalueType":"str","onicon":"power_settings_new","oncolor":"lime","offvalue":"{\"value\": 0}","offvalueType":"str","officon":"power_settings_new","offcolor":"white","x":390,"y":140,"wires":[["9450aa28.7f9ad8"]]},{"id":"d0c55979.c01b","type":"mqtt in","z":"f9fff5b7.b88f9","name":"Get Relay State","topic":"N/4c3fd33ebfdd/system/0/Relay/1/State","qos":"0","datatype":"auto","broker":"2d636f07.e0a608","x":120,"y":140,"wires":[["8326c002.688148"]]},{"id":"8089d9f6.4d51f8","type":"mqtt in","z":"209d2864.dddf6","name":"Grid State","topic":"N/4c3fd33ebfdd/system/0/Ac/Alarms/GridLost","qos":"0","datatype":"auto","broker":"2d636f07.e0a608","x":80,"y":480,"wires":[["94f7e160.286a3"]]},{"id":"94f7e160.286a3","type":"json","z":"209d2864.dddf6","name":"Convert","property":"payload","action":"obj","pretty":false,"x":260,"y":480,"wires":[["b476f62e.ad1188"]]},{"id":"b476f62e.ad1188","type":"change","z":"209d2864.dddf6","name":"Extract","rules":[{"t":"move","p":"payload.value","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":480,"wires":[["4100ab60.4ee1dc","811f537d.bbda2"]]},{"id":"4100ab60.4ee1dc","type":"change","z":"209d2864.dddf6","name":"Mapping","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"Grid OK","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"Grid Failed","tot":"str"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":480,"wires":[["ec3eeb6d.44c36"]]},{"id":"d3efe299.6ab3a","type":"json","z":"209d2864.dddf6","name":"Convert","property":"payload","action":"obj","pretty":false,"x":420,"y":100,"wires":[["b5916d60.9bc498"]]},{"id":"2295fba9.7da8a4","type":"json","z":"209d2864.dddf6","name":"Convert","property":"payload","action":"obj","pretty":false,"x":420,"y":160,"wires":[["ac50e1be.f5c6a8"]]},{"id":"ac50e1be.f5c6a8","type":"change","z":"209d2864.dddf6","name":"Extract","rules":[{"t":"move","p":"payload.value","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":160,"wires":[["449701b4.f90f4"]]},{"id":"b5916d60.9bc498","type":"change","z":"209d2864.dddf6","name":"Extract","rules":[{"t":"move","p":"payload.value","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":100,"wires":[["449701b4.f90f4"]]},{"id":"62ae41ab.3784a8","type":"ui_text","z":"209d2864.dddf6","group":"b40936b8.896f08","order":7,"width":6,"height":1,"name":"Grid Status","label":"Grid Status:","format":"<font color={{msg.color}}>{{msg.payload}}","layout":"row-center","x":950,"y":480,"wires":[]},{"id":"ec3eeb6d.44c36","type":"function","z":"209d2864.dddf6","name":"Color Mapping","func":"switch (msg.payload) {\n\ncase \"Grid OK\" : \n    msg.color = \"lime\";\n    break;\n    \ncase \"Grid Failed\" : \n    msg.color = \"red\";\n    break;\n    \ndefault : \n    msg.color = \"lime\";\n    break;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":480,"wires":[["62ae41ab.3784a8"]]},{"id":"f1bd89e5.fc5808","type":"ui_audio","z":"209d2864.dddf6","name":"Alarm","group":"b40936b8.896f08","voice":"en-US","always":true,"x":750,"y":540,"wires":[]},{"id":"811f537d.bbda2","type":"change","z":"209d2864.dddf6","name":"Mapping","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"Grid is OK","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"Warning!, Warning!, Warning!, Grid Failed","tot":"str"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":540,"wires":[["f1bd89e5.fc5808"]]},{"id":"69c40a11.d1c5cc","type":"mqtt in","z":"209d2864.dddf6","name":"Bat Temp","topic":"N/4c3fd33ebfdd/system/0/Batteries","qos":"0","datatype":"json","broker":"2d636f07.e0a608","x":80,"y":600,"wires":[["5fde3505.e68c14"]]},{"id":"5fde3505.e68c14","type":"ui_text","z":"209d2864.dddf6","group":"b40936b8.896f08","order":8,"width":6,"height":1,"name":"Battery Temp","label":"Battery Temp: ","format":"<font color=lime>{{payload.value[0].temperature | number:0}}","layout":"row-center","x":270,"y":600,"wires":[]},{"id":"5f631b5f.df2a2c","type":"mqtt in","z":"209d2864.dddf6","name":"Bat Temp","topic":"N/4c3fd33ebfdd/system/0/Batteries","qos":"0","datatype":"json","broker":"2d636f07.e0a608","x":80,"y":680,"wires":[["9fa775b0.1264e8"]]},{"id":"9fa775b0.1264e8","type":"change","z":"209d2864.dddf6","name":"Extract","rules":[{"t":"move","p":"payload.value[0].power","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":680,"wires":[["81a72485.8491d"]]},{"id":"81a72485.8491d","type":"ui_gauge","z":"209d2864.dddf6","name":"Battery Load","group":"b40936b8.896f08","order":2,"width":6,"height":4,"gtype":"gage","title":"Battery Load","label":"Watts","format":"{{value | number:0}}","min":"-5000","max":"5000","colors":["#ff9300","#00fa00","#00fa00"],"seg1":"0","seg2":"5000","x":450,"y":680,"wires":[]},{"id":"449701b4.f90f4","type":"join","z":"209d2864.dddf6","name":"Join Values","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":750,"y":120,"wires":[["c45bcb35.048d4"]]},{"id":"c45bcb35.048d4","type":"change","z":"209d2864.dddf6","name":"Sum","rules":[{"t":"set","p":"payload","pt":"msg","to":"$sum(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":120,"wires":[["2c30a6df.1e8672"]]}]