ui_toggle_relay
[{"id":"209d2864.dddf6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6fc5374c.fd8958","type":"mqtt out","z":"209d2864.dddf6","name":"keep-alive","topic":"R/XXX/system/0/Serial","qos":"","retain":"","broker":"2d636f07.e0a608","x":410,"y":220,"wires":[]},{"id":"834e04d6.910f3","type":"inject","z":"209d2864.dddf6","name":"keep-alive","topic":"","payload":"R/4c3fd33ebfdd/system/0/Serial","payloadType":"str","repeat":"30","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":220,"wires":[["6fc5374c.fd8958"]]},{"id":"2c389e6d.f4d782","type":"inject","z":"209d2864.dddf6","name":"Relay On","topic":"","payload":"{\"value\": 1}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":560,"wires":[["8badc988.4aff48"]]},{"id":"13b39e34.f0f6da","type":"mqtt in","z":"209d2864.dddf6","name":"Get Relay State","topic":"N/XXX/system/0/Relay/0/State","qos":"2","datatype":"auto","broker":"2d636f07.e0a608","x":160,"y":280,"wires":[["cbb79326.a43868"]]},{"id":"cbb79326.a43868","type":"debug","z":"209d2864.dddf6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":280,"wires":[]},{"id":"a2fda433.eb347","type":"inject","z":"209d2864.dddf6","name":"Relay Off","topic":"","payload":"{\"value\": 0}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":440,"wires":[["8badc988.4aff48"]]},{"id":"c80ef0c0.f8913","type":"mqtt out","z":"209d2864.dddf6","name":"Relay State","topic":"W/XXX/system/0/Relay/0/State","qos":"1","retain":"false","broker":"2d636f07.e0a608","x":610,"y":440,"wires":[]},{"id":"8badc988.4aff48","type":"ui_switch","z":"209d2864.dddf6","name":"","label":"Venus Relay","tooltip":"","group":"1c28c270.83ac96","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"value\": 1}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"value\": 0}","offvalueType":"str","officon":"","offcolor":"","x":370,"y":440,"wires":[["c80ef0c0.f8913"]]},{"id":"2d636f07.e0a608","type":"mqtt-broker","z":"","name":"Venus","broker":"192.168.1.10","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"10","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"1c28c270.83ac96","type":"ui_group","z":"","name":"Solar","tab":"b924b18a.16338","disp":true,"width":"24","collapse":false},{"id":"b924b18a.16338","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
